body {
  background-color: #23222a;  
  color: #fff;
  font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0;
}
/* colors */
.green{
  background: #78e2a0;
}
.yellow{
  background: #ffa86a;
}
.red{
  background: #ff6266;
}
.green_color {
  color: #78e2a0;
}
.yellow_color {
  color: #ffa86a;
}
.red_color {
  color: #ff6266;
}
.green_Bcolor {
  border: 1px solid #78e2a0;
}
.yellow_Bcolor {
  border: 1px solid #ffa96b;
}
.red_Bcolor {
  border: 1px solid #ff6266;
  &:hover{
    background:#ff626631;
  }
}
.repeat_yellow {
  content: "";
  background: repeating-linear-gradient(
    90deg,
    #ffa86a,
    #ffa86a 2px,
    transparent 0,
    transparent 10px
    );
    flex-grow: 1;
    line-height: 1rem;
    margin-left: 2px;
  }
  .repeat_red {
    content: "";
    background: repeating-linear-gradient(
      90deg,
      #ff6266,
      #ff6266 2px,
      transparent 0,
      transparent 10px
      );
      flex-grow: 1;
  line-height: 1rem;
  margin-left: 2px;
}
.repeat_green {
  content: "";
  background: repeating-linear-gradient(
    90deg,
    #78e2a0,
    #78e2a0 2px,
    transparent 0,
    transparent 10px
    );
    flex-grow: 1;
    line-height: 1rem;
    margin-left: 2px;
  }
/* colors */
.body{
  max-width: 750px;
  margin: 0 auto;
  padding: 0rem 3rem 0 3rem;
}
.header{
  padding-top: 3rem;
  position: fixed;
  z-index: 1;
  background-color: #222129ea;
  backdrop-filter: blur(.2rem);
}
.header_space{
  width: 100%;
}
.progress_span{
  margin-bottom: 4px;
  font-weight: 100;
}
.progress_cont {
  display: flex;   
  align-items: center
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
button:hover{
  cursor: pointer;
}
.logo{
  white-space:nowrap;
  color: #222129;
  padding: 0.5rem;
}
.head {
  display: flex;
  align-items: center;
}
.hello h2{
  padding-bottom: 0;
  margin-bottom: 0;
}
.hello p{
  margin-top: 0rem;
}
a {
  padding: 0;
  margin: 0.4rem 0;
}
.articles h2{
  color: #ffa96b;
  border-bottom: 3px dotted #ffa96b;
  margin: 2rem 0 0.5rem 0;
}
.articles h2::after{
    content: "";
    border-bottom: 3px dotted #ffa96b;
    width: 100%;
    display: block;
    margin-bottom: 3px;
}
.article{
  padding: 1rem 0rem;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.article img{
  width: 4rem;
}
p{
  white-space: pre-line;
}
.article h3,.article p{
  font-weight: 200;
  margin: 0;
}
.article h3{
  color: #ffa96b;
}
.article a:hover{
  text-decoration: underline #ffa96b;
}
.list {
  display: flex;
  padding: 0;
  margin: 0;
}
.list > a {
  margin-top: 0;
  margin-right: 1rem;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #222129;
  border: rgba(255, 255, 255, 0.2) 2px solid;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 0;
}
.dropdown-content a {
  color: #fff;
  padding: 0.6rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  text-decoration: underline;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.hello {
  margin-top: 1rem;
  padding: 1rem;
  border: 1px solid #ffa86a;
}
.hello h1{
  margin: 0;
  font-weight: 100;
}
.type-animation{
    font-size: 3rem;
}
.info-toast:hover{
  cursor: pointer;
  text-shadow: #ffffff23;
}
.about-code {
  color: #78e2a0;
  background: rgba(120, 226, 161, 0.2);
  padding: 2px 3px;
}
.about_name {
  margin-top: 0.35rem;
}
.code {
  background-color: rgba(255, 168, 106, 0.2);
  color: #ffa86a;
  padding: 2px 3px;
}
.project {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-bottom: 2rem;
}
.project h2{
  margin-bottom: 0;
}
.project-cont{
  display: flex;
  gap:1rem;
  margin: 1rem 0;
}
.project-info p{
  margin:0 0 1rem 0;
}
.project-gif img{
  width: 20rem;
  padding: 8px 0 0 0;
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.post-title {
  border-bottom: 3px dotted;
  margin: 0.5rem 0 0 0;
}
.post-title:after {
  content: "";
  border-bottom: 3px dotted;
  width: 100%;
  display: block;
  margin-bottom: 3px;
}
.post {
  margin-bottom: 4rem;
}
.textLayer {
  display: none;
}
.annotationLayer {
  display: none;
}
.container h1{
  margin: 0;
}
.react-pdf__Page__canvas {
  z-index: -1;
  margin: 0 auto;
  width: 100% !important;
  height: auto !important;
  /* display: block; */
  border: 1px solid #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.thoughts{
  margin-top: 1rem;

}
.proj-buttons{
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}
.buttons {
  background-color: #222129;
  color: #fff;
  padding: 0.5rem 0.45rem;
  font-size: 1rem;
  width:100%;
  font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
}
.SM-button{
  background-color: #222129;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 0.45rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
  border: 1px solid #ff6266;
  &:hover{
    text-decoration: underline;
    background-color: #ff626631;
  }
}
.green-button{
  background-color: #222129;
  color: #fff;
  margin-top: 1rem;
  padding: 0.5rem 0.45rem;
  width: 100%;
  font-size: 1rem;
  font-family: "Fira Code", Monaco, Consolas, Ubuntu Mono, monospace;
  border: 1px solid #78e2a16b;
  &:hover{
    text-decoration: underline;
    background-color: #78e2a131;
  }
}
.buttons:hover {
  text-decoration: underline;
}
.fname {
  color: #888888cd;
}
@media screen and (max-width: 750px) {
  .project-cont{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 650px) {
  .body {
    padding: 1rem;
    padding-top: 0rem;
  }
  .header{
    padding-top: 1rem;
  }
  li {
    margin-right: 0.8rem;
  }
  .list > a {
    margin-right: 0.8rem;
  }
}
